language: java
addons:
  sonarcloud:
    organization: "cfc-kata"
    token:
      secure: "nwMBaOkor3X8rkLHAVeCatoSgLU/A63AU9IlAYhT3qv17Y54VM6HFT7KIEydMAtbblF0aXKvfQDxU4yfQ61aAsykJkRb7zJfMPdXSQTMUUGr7uZmjvkZI4c/rgt+u+N2/Y+x55qcucivA7Kiii8n134RZevDuKiEyc8Gzqzg3CqPIpEWlmJnV8gaXaQMQobblqVj6lXPFMK0LcD4idE6CLh3auYlqnOq4oc9MYC5l4FmFgTiTUODvUMKVHm12ZBS2tnolcSZYqgUzmNjNmW1ZSA6h10hfrshwGOImqFR82dHkDI1VucRGxPsU9xRaVH2wJaq3PZXSh0kyZ7f3jiPh4FSrPca1ftTlof0mSm0PPciURoEoS3/7sW+f2Z3HfiGvIkN57+mQWueuFsGwrhHQ7l15vMVJ1NfJQ4evUQNo8c6zbE/WB5s2rp1HCv8tXoG+Z/vmAPpGsqJduvJoEdl5cbpCL8aC1hHFBmbsiKCB8g/i6N3qLTdvasNAQxyu90Okd2SloKVPHv04d87gg9LRntXA2CWHy1ksHUYyKtYKfBu7njBn8e5fFemY+F07eeAfIManSlXDC/97V5wPfCFEiHU26J5/pt+plYX/Gcx+ohyfr/5onEjLWHRksuMIeZSnUb3tG6l3S1nlwBAExrMQBYgNjxxsHAunTvWPl5sIS0="
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=cfc-kata_cfc-kata-loan-team-d
